<div class="">
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="">
      <%= attachment_image_tag user, :image, :fill, 180, 180, class: "img-circle pull-left profile-thumb" %>
    </div>
    <div class="">
      名前<%= user.pet_name %>
    </div>
    <% end %>
    <% if user_signed_in? && user != current_user %>
    <div class="follow">
      <% if current_user.following?(user) %>
        <%= render 'relationships/unfollow', user: user %>
      <% else %>
        <%= render 'relationships/follow', user: user %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>