  <h2>マイページ編集</h2>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
    <%= f.label :飼い主さんの名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :うちのこの名前 %><br />
    <%= f.text_field :pet_name, autofocus: true, autocomplete: "pet_name" %>
  </div>

  <div class="field">
    <%= f.label :紹介 %><br />
    <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.submit "登録内容を保存する" %>
<% end %>