<h2><%= @user.name %>のマイページ</h2>

<h3>登録情報</h3>
  <%= link_to '編集する', edit_user_path %>

<%= attachment_image_tag @user, :image, :fill, 140, 140, class: "img-circle pull-left profile-thumb" %>
<table>
  <tr>
    <td>ペットネーム</td>
    <td><%= @user.pet_name %></td>
  </tr>
  <tr>
    <td>紹介</td>
    <td><%= @user.introduction %></td>
  </tr>
  <tr>
    <td>オーナー</td>
    <td><%= @user.name %></td>
  </tr>
</table>

<h1><%= @user.pet_name %>のできごと一覧</h1>

<%= render 'posts/index', post: @post %>


<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post %>
  <% end %>
<% end %>


<p><%= link_to user_following_path(@user) do %>
following <%= @user.follower.count %>
  <% end %></p>

<p><%= link_to user_followers_path(@user) do %>
 followers <%= @user.followed.count %>
 <% end %></p>

 <div id="map" style='width: 100%; height: 500px;'></div>

 <%= link_to 'いいね一覧', likes_user_path(@user) %>








  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @user.latitude %>,
          "lng": <%= @user.longitude %>,
      "infowindow": '<p></p><p><%= @user.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@user.latitude},#{@user.longitude}&iwloc=J",target: "_blank" %></p>'
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(17);
    });
  </script>