<div class="row user-show-top">
  <div class="col-lg-3 col-lg-offset-1">
    <div class="user-show-pro">
      <%= attachment_image_tag @user, :image, size: "180x180", fallback: "noimage.jpg", class: "img-circle user-show-img" %>
    </div>
    <div class="follow-container">
      <div class="follow-button-box">
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <div class="followed-button">
              <%= link_to(user_relationships_path(@user.id), method: :delete, class: 'unfollow-link') do %>
                <i class="fas fa-check"></i>  フォロー中
               <% end %>
            </div>
          <% else %>
            <div class="follow-button">
              <%= link_to(user_relationships_path(@user.id), method: :post, class: 'follow-link') do %>
                <i class="fas fa-paw"></i>  フォローする
              <% end %>
            </div>
          <% end %>
        <% else %>
        <div class="user-edit-button">
          <%= link_to '編集する', edit_user_path, class: 'user-edit-link' %>
        </div>
        <% end %>
      </div>
      <div class="user-follow-box">
        <p class="user-following">
          <%= link_to(user_following_path(@user), class: 'user-follow-link') do %>
            フォロー中<br>
            <%= @user.follower.count %>
          <% end %>
        </p>
        <p class="user-followers">
          <%= link_to(user_followers_path(@user), class: 'user-follow-link') do %>
            フォロワー<br>
            <%= @user.followed.count %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="info-container">
      <div class="user-show-petname">
        <%= @user.pet_name %>
      </div>
      <div class="user-show-introduction">
        <%= simple_format @user.introduction %>
      </div>
      <div class="user-show-name">
        オーナー <%= @user.name %>
      </div>
      <div class="user-likedpath">
        <%= link_to(likes_user_path(@user), class: "user-likedlink") do %>
          <i class="far fa-grin-hearts"></i>  いいねした投稿
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <p class="user-map">
      <i class="fas fa-map-marker-alt"></i>お気に入りの場所
    </p>
    <div id="map" style='width: 100%; height: 250px;'></div>
  </div>
  <div class="col-lg-1">
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 user-show-border">
  </div>
</div>

<%= render 'posts/index', post: @post %>

<%# ここからMAPプレビュー機能(jquery) %>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiDsIcIGM8fqoRZmaPWXDV4JrvQshNW9o">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @user.latitude %>,
        "lng": <%= @user.longitude %>,
    "infowindow": '<p></p><p><%= @user.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@user.latitude},#{@user.longitude}&iwloc=J",target: "_blank" %></p>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
</script>