<div class="row">
  <div class="col-lg-12 about-box">
    <%= image_tag asset_path('about6.jpg'), class:'about-icon' %>
    <p class="about-title">うちのこ</p>
    <p class="about-caption">世界中のかわいいペットを</br>写真を通して共有、発見できるSNSです。</p>

      <div class="about-signup-button">
          <%= link_to "アカウントを作成", new_user_registration_path, class: "about-signuplink" %>
      </div>
  </div>
</div>
= image_tag asset_path('画像パス.拡張子')
<div class="row">
  <h3 class="random-title">みんなの投稿写真</h3>
  <div class="col-lg-12 random-box">
    <div id="loopslider">
      <ul>
        <% @random.each do |post| %>
          <li>
            <%= attachment_image_tag post, :image, :fill, 180, 180, format: 'jpeg' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row about-explanation1">
  <div class="col-lg-8 col-lg-offset-2">
    <h3 class="about-follow-title">素敵な投稿を探してみましょう！</h3>
    <p class="about-post-text">
      <span class="under">
        投稿順・いいねが多い順・フォロー中
      </span>で並べ替えられます。</br>
      素敵な投稿にはいいねボタンをクリックして</br>
      自分だけのいいねリストを作成してみましょう！
    </p>
<%= video_tag asset_path ("/assets/videos/uchinoko-sort.mp4"), controls: true, autoplay: true, loop: true, muted: true %>





  </div>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 col-lg-offset-2 about-explanation2">
    <h3 class="about-tag-title">#タグをつけて投稿してみましょう！</h3>
    <p class="about-tag-text">
      #タグをつけて投稿できます。</br>
      <span class="under">同じタグ付けしている投稿
      </span>もチェックして</br>
      同じような投稿者をフォローしてみましょう！</br>
    </p>
    <video src="/videos/uchinoko-follow.mp4" width="100%" autoplay muted loop playsinline>
    </video>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="row">
  <div class="col-lg-12 about-button3">
    <div class="about-signup-button">
      <%= link_to "アカウントを作成", new_user_registration_path, class: "about-signuplink" %>
    </div>
    <div class="about-signin-button">
      <%= link_to "ログイン", new_user_session_path, class: "about-signinlink" %>
    </div>
    <div class="about-signin-button">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "about-signinlink" %>
    </div>
  </div>
</div>