<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h1 class="sign">ログイン</h1>

      <div class="box-email">
        <%= f.email_field :email, autofocus: true, autocomplete: "off", :placeholder => "メールアドレス" %>
      </div>

      <div class="box-password">
        <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード" %>
        <div class="column-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
          <% end %>
        </div>
      </div>

      <div class="box-login">
        <%= f.submit "ログイン" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインしたままにする" %>
        </div>
      <% end %>

    <% end %>

    <div class="box-newuser">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "アカウントを新規作成", new_registration_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</div>