<h1>投稿しましょう</h1>

<%= form_for @post, :url => {controller: "posts", action: "create"} do |f| %>
  <%= f.attachment_field :image %>
<div>
  <%= f.text_field :title, :placeholder => "タイトル", size: "41" %>
</div>
<div>
  <%= f.text_area :introduction, :placeholder => "本文", size: "40x10" %>
</div>
<div>
  <%= f.submit "投稿する" %>
</div>
<% end %>