<h1>投稿しましょう</h1>

<%= form_for @post, :url => {controller: "posts", action: "create"} do |f| %>
  <%= f.attachment_field :image %>
<div>
  <%= f.label :タイトル %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :キャプション %>
  <%= f.text_area :introduction %>
</div>
<div>
  <%= f.label :タグ入力 %>
  <%= f.text_field :tag_list, value: @post.tag_list.join(',') %>
</div>
<div>
  <%= f.submit "投稿する" %>
</div>
<% end %>