<h2>投稿詳細</h2>
<%= attachment_image_tag @post, :image %>
<div>タイトル
<%= @post.title %>
</div>
<div>説明
<%= @post.introduction %>
</div>
<div>タグ名
<%= render 'posts/tag_list', tag_list: @post.tag_list %>
</div>

<%= link_to "編集する", edit_post_path(@post) %>
<% if @post.user == current_user %>
  <%= link_to "削除", post_path(@post), method: :delete %>
<% end %>