<!DOCTYPE html>
<html>
  <head>
    <title>UchinokoPet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

  </head>

<body>
  <header class="navbar-fixed-top">
    <nav class="navbar-nav">
      <%= link_to image_tag('logo2.jpg', style: "height: 50px;"), root_path %>
    </nav>
    <nav>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="li-home"><%= link_to 'みんなの投稿', posts_path, data: {"turbolinks" => false}, class: "navlink" %></li>
          <li class="li-new"><%= link_to '投稿する', new_post_path, class: "navlink" %></li>
          <li class="dropdown li-name">
            <a class="dropdown-toggle item link li-name" data-toggle="dropdown">
              <%= attachment_image_tag current_user, :image, size:"30x30", fallback: "noimage.jpg", class: "img-circle header-img navlink" %>
              <%= current_user.pet_name.truncate(12) %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="menu"><%= link_to 'プロフィール', user_path(current_user)  %></li>
              <li role="menu"><%= link_to 'いいね一覧', likes_user_path(current_user) %></li>
              <li role="menu"><%= link_to 'フォロー中', user_following_path(current_user) %></li>
              <li role="menu"><%= link_to 'フォロワー', user_followers_path(current_user) %></li>
            </ul>
          </li>
          <li class="li-out"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navlink" %></li>
        <% else %>
          <li><%= link_to "新規登録はこちらから", new_user_registration_path, class: "navlink" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "navlink" %></li>
        <% end %>
      </ul>
    </nav>
    
  </header>

  <div class="container yield-container">
    <div class="yohaku">
      <%= yield %>
    </div>
  </div>

  <footer>フッター
  </footer>

</body>
</html>
